<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Item Sample Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles3.css') }}" type="text/css"> <!-- Link to your CSS file -->
</head>
<body>
    <h2>Order Item</h2>
    <table>
        <tr>
            <th>order_item_id</th>
            <th>qty</th>
            <th>price</th>
            <th>order_id</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>25.00</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>15.50</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>1</td>
            <td>200.25</td>
            <td>2</td>
        </tr>
    </table>
</body>
</html>
