<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles4.css') }}" type="text/css"> <!-- Link to your CSS file -->
    
</head>
<body>
    <h2>Products Table</h2>
    <table>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>1</td>
            <td>indoor plant</td>
            <td>$999.99</td>
            <td>purifies air</td>
        </tr>
        <tr>
            <td>2</td>
            <td>dream catcher</td>
            <td>$599.99</td>
            <td>decor.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>keychain</td>
            <td>$399.99</td>
            <td>blue feather keychain.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>mug</td>
            <td>$199.99</td>
            <td>ceramic coffee mug.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Headphones</td>
            <td>$149.99</td>
            <td>Wireless headphones with noise-canceling technology.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Speaker</td>
            <td>$129.99</td>
            <td>Portable Bluetooth speaker with crisp sound quality.</td>
        </tr>
    </table>
</body>
</html>
